<h1 class="head" class="text-center">Merge Sort</h1>
<div class="table" *ngIf="!loading && randomNumbers">
    <div class="cols">
        <div class="item" *ngFor="let num of randomNumbers">
            <span>{{num}}</span>
        </div>
    </div>
</div>

<ng-container *ngIf="loading">
    Sorting...
</ng-container>

<ng-container *ngIf="timer">
    {{timer}}
</ng-container>

<div class="text-center">
    <button style="padding: 12px; width: 100px;" (click)="mergeSort()" >Sort</button>
</div>
