<div class="sidebar">
    <div class="item">
        <div>
            <span>Searching</span>
            <i class="bi bi-chevron-compact-down"></i>            
        </div>
        <div class="sub-items">
            <a routerLink="linear-search" >Linear Searching</a>
            <a routerLink="binary-search" >Binary Search</a>
        </div>
    </div>
    <div class="item">
        <div>
            <span>Sorting</span>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
        <div class="sub-items">
            <a routerLink="bubble-sort" >Bubble Sort</a>
            <!-- <a routerLink="insertion-sort">Insertion Sort</a> -->
            <a routerLink="merge-sort">Merge Sort</a>
        </div>
    </div>
    <div class="item">
        Single LinkedList
    </div>
    <div class="item">
        Double LinkedList
    </div>
    <div class="item">
        Stack
    </div>
    <div class="item">
        Queue
    </div>
    <div class="item">
        Binary Search Trees
    </div>
    <div class="item">
        Graphs
    </div>
</div>